.Presentation {
    position: static !important;
    font-family: 'Josefin Sans', sans-serif;
    margin-block-end: 14rem;
}


.CarruselInfo {
    color: #fff;
    /* margin: 7em; */
    padding-inline: 1.5em;
    padding-block: 2em;
    /* border-radius: 1em; */
    background-color: rgba(40, 40, 42, 255);

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0.4em;
    grid-template-areas:"ChessboardRandom Frase_Img"
                        "ChessboardRandom Item1"
                        "ChessboardRandom Item2"
                        "ChessboardRandom Item3"
                        "carruselBoardChess carruselBoardChess";
    align-items: center;
    justify-items: center;
    justify-content: center;
    .ChessboardRandom {
        position: sticky;
        grid-area: ChessboardRandom;
    }
    .Frase_Img {
        display: flex;
        align-items: center;
        margin-block: 0.7em;
        grid-area: Frase_Img;
        .LogoImg {
            width: 7em;
            height: 7em;
        }

        .titleMain {
            background-color: #22222267;
            padding: 0.5em;
            border-radius: 0.4em;
            max-width: 11em;
            font-size: 3.2em;
            font-weight: 500;
        }
    }
    .Item {
        max-width: 35em;
        padding: 1.3em;
        border-radius: 1em;
        margin-block: 0.2em;
        .ItemTitle {
            font-size: 1.1em;
            font-weight: 500;
            padding-block: 0.4em;
        }

        .ItemText {
            padding-inline: 0.5em;
            line-height: 1.5;
            color: #a1a1aa;
        }
    }

    .Item:hover {
        background-color: #222222;
        transition: 0.3s all;
    }

    .Item:not(hover) {
        background-color: transparent;
        transition: 0.5s all;
    }
    .Item1{
        grid-area: Item1;
    }
    .Item2{
        grid-area: Item2;
    }
    .Item3{
        grid-area: Item3;
    }
    .carruselBoardChess{
        grid-area: carruselBoardChess;
        padding: 1.4em;
    }
    .carruselBoardChess_{
        display: grid;
        grid-template-columns: repeat(5,auto);
        grid-gap: 2em;
        margin-block: 2em;
        position: relative;
        overflow: hidden;
        .board{
            margin: 1em;
        }
        #board1{
            transform: rotate(5deg);
        }
        #board2{
            transform: rotate(-3deg);
        }
        #board3{
            transform: rotate(3deg);
        }
        #board4{
            transform: rotate(-2.5deg);
        }
        #board5{
            transform: rotate(4deg);
        }
        .board:first-child,
        .board:last-child{
            /* display: none; */
            overflow: hidden;
            /* position: absolute; */
        }
    }
}

.CardsBenefits{
    margin-inline: 17em;
    margin-block: 3em;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    grid-template-areas:"information information information"
                        "benefits1 benefits2 benefits3";
    
}

.information{
    grid-area: information;
    text-align: center;
    margin-block: 2em;
    h1{
        color: #a1a1aa;
    }
}

.carruselBoardChess{
    background-color: #222222;
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}