@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url("https://css.gg/css");

#root{
    font-family: 'Josefin Sans', sans-serif;
}

.logoText, .titleMain{
    font-size: 1.8em;
    font-weight: 600;
}
